<template>
  <div class="App">
    <AppHeader />

    <Description />

    <div class="container">
      <div class="users"><Users /></div>
      <div class="todos"><Todos /></div>
    </div>

    <AppFooter />
  </div>
</template>

<script>
import data from '../data'
import store from '../store'
import Todo from '../store/models/Todo'
import User from '../store/models/User'
import AppHeader from './AppHeader'
import Description from './Description'
import Users from './Users'
import Todos from './Todos'
import AppFooter from './AppFooter'
import { setTimeout } from 'timers';

export default {
  store,

  components: {
    AppHeader,
    Description,
    Users,
    Todos,
    AppFooter
  },

  created () {
    // Here we are stubbing the initial data. In the real world, this
    // should be the response from the API Backend.
    // const initialData = data
    // this.$store.dispatch('entities/todos/create', { data: initialData })
    Todo.fetch()
    User.fetch()

    // override the conf and refetch
    setTimeout(() => {
      Todo.conf({
        "endpointPath": "/todo",
        "methods": 
        [
          {
            "name": "assignTo",
            "remote": true,
            "http": {
                "path": "/{self}/assignTo",
                "method": "post"
            }
          },
          {
            "name": "findById",
            "remote": false,
            "http": {
                "path": "/{self}/:id",
                "method": "post"
            }
          },
          {
            "name": "exist",
            "remote": false,
            "http": {
                "path": "/{self}/exist/:id",
                "method": "post"
            }
          },
          {
            "name": "countTotal",
            "remote": true,
            "http": {
                "path": "/{self}/countTotal",
                "method": "get"
            }
          }
        ]
      })
      User.conf({
        // "baseUrl": "",
        "endpointPath": "/user",
        "methods": [
          {
            "name": "assignToOverride",
            "remote": true,
            "http": {
                "path": "/{self}/assignToOverride",
                "method": "get"
            }
          },
          {
            "name": "existOverride",
            "remote": false,
            "localSync": true,
            "http": {
                "path": "/{self}/existOverride/:id",
                "method": "get"
            }
          },
          {
            "name": "countTotalOverride",
            "remote": true,
            "http": {
                "path": "/{self}/countTotalOverride",
                "method": "post"
            }
          }
        ]
      })
      Todo.fetch()
      User.fetch()

      User.findById(1).then(
        data => {
          console.log('succ', data)
        },
        err => {
          console.log('err', err)
        }
      )

      User.existOverride(3)
    }, 2000)
  }
}
</script>

<style src="../styles/bootstrap.css"></style>

<style scoped>
.App {
  padding: 96px 48px 128px;
}

.container {
  display: flex;
  margin: 0 auto;
  width: 960px;
}

.users {
  padding-right: 48px;
  width: calc(100% / 3);
}

.todos {
  width: calc((100% / 3) * 2);
}
</style>
